A6ClienteRest/src/conf/xml-resources/web-service-references/WSPV_Translator/wsdl/localhost_8080/WSPV_Translator/WSPV_Translator.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.a6.uma.es/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.a6.uma.es/" name="WSPV_Translator">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.a6.uma.es/" schemaLocation="http://localhost:8080/WSPV_Translator/WSPV_Translator?xsd=1"/>
</xsd:schema>
</types>
<message name="findModuloByCampaña">
<part name="parameters" element="tns:findModuloByCampaña"/>
</message>
<message name="findModuloByCampañaResponse">
<part name="parameters" element="tns:findModuloByCampañaResponse"/>
</message>
<message name="findModuloByNombre">
<part name="parameters" element="tns:findModuloByNombre"/>
</message>
<message name="findModuloByNombreResponse">
<part name="parameters" element="tns:findModuloByNombreResponse"/>
</message>
<message name="createCampanya">
<part name="parameters" element="tns:createCampanya"/>
</message>
<message name="editCampanya">
<part name="parameters" element="tns:editCampanya"/>
</message>
<message name="removeCampanya">
<part name="parameters" element="tns:removeCampanya"/>
</message>
<message name="findCampanya">
<part name="parameters" element="tns:findCampanya"/>
</message>
<message name="findCampanyaResponse">
<part name="parameters" element="tns:findCampanyaResponse"/>
</message>
<message name="findAllCampanya">
<part name="parameters" element="tns:findAllCampanya"/>
</message>
<message name="findAllCampanyaResponse">
<part name="parameters" element="tns:findAllCampanyaResponse"/>
</message>
<message name="findAllCampanyaOrderedByName">
<part name="parameters" element="tns:findAllCampanyaOrderedByName"/>
</message>
<message name="findAllCampanyaOrderedByNameResponse">
<part name="parameters" element="tns:findAllCampanyaOrderedByNameResponse"/>
</message>
<message name="findAllCampanyaOrderedByDateAsc">
<part name="parameters" element="tns:findAllCampanyaOrderedByDateAsc"/>
</message>
<message name="findAllCampanyaOrderedByDateAscResponse">
<part name="parameters" element="tns:findAllCampanyaOrderedByDateAscResponse"/>
</message>
<message name="findAllCampanyaOrderedByDateDesc">
<part name="parameters" element="tns:findAllCampanyaOrderedByDateDesc"/>
</message>
<message name="findAllCampanyaOrderedByDateDescResponse">
<part name="parameters" element="tns:findAllCampanyaOrderedByDateDescResponse"/>
</message>
<message name="findCampanyaByModulo">
<part name="parameters" element="tns:findCampanyaByModulo"/>
</message>
<message name="findCampanyaByModuloResponse">
<part name="parameters" element="tns:findCampanyaByModuloResponse"/>
</message>
<message name="createModulo">
<part name="parameters" element="tns:createModulo"/>
</message>
<message name="editModulo">
<part name="parameters" element="tns:editModulo"/>
</message>
<message name="removeModulo">
<part name="parameters" element="tns:removeModulo"/>
</message>
<message name="findModulo">
<part name="parameters" element="tns:findModulo"/>
</message>
<message name="findModuloResponse">
<part name="parameters" element="tns:findModuloResponse"/>
</message>
<message name="findAllModulo">
<part name="parameters" element="tns:findAllModulo"/>
</message>
<message name="findAllModuloResponse">
<part name="parameters" element="tns:findAllModuloResponse"/>
</message>
<message name="findAllModuloOrderedByName">
<part name="parameters" element="tns:findAllModuloOrderedByName"/>
</message>
<message name="findAllModuloOrderedByNameResponse">
<part name="parameters" element="tns:findAllModuloOrderedByNameResponse"/>
</message>
<message name="findAllModuloOrderedByAlpha">
<part name="parameters" element="tns:findAllModuloOrderedByAlpha"/>
</message>
<message name="findAllModuloOrderedByAlphaResponse">
<part name="parameters" element="tns:findAllModuloOrderedByAlphaResponse"/>
</message>
<message name="findAllModuloOrderedByBeta">
<part name="parameters" element="tns:findAllModuloOrderedByBeta"/>
</message>
<message name="findAllModuloOrderedByBetaResponse">
<part name="parameters" element="tns:findAllModuloOrderedByBetaResponse"/>
</message>
<message name="findAllModuloOrderedByKappa">
<part name="parameters" element="tns:findAllModuloOrderedByKappa"/>
</message>
<message name="findAllModuloOrderedByKappaResponse">
<part name="parameters" element="tns:findAllModuloOrderedByKappaResponse"/>
</message>
<message name="findAllModuloOrderedByGamma">
<part name="parameters" element="tns:findAllModuloOrderedByGamma"/>
</message>
<message name="findAllModuloOrderedByGammaResponse">
<part name="parameters" element="tns:findAllModuloOrderedByGammaResponse"/>
</message>
<portType name="WSPV_Translator">
<operation name="findModuloByCampaña">
<input wsam:Action="http://ws.a6.uma.es/WSPV_Translator/findModuloByCampañaRequest" message="tns:findModuloByCampaña"/>
<output wsam:Action="http://ws.a6.uma.es/WSPV_Translator/findModuloByCampañaResponse" message="tns:findModuloByCampañaResponse"/>
</operation>
<operation name="findModuloByNombre">
<input wsam:Action="http://ws.a6.uma.es/WSPV_Translator/findModuloByNombreRequest" message="tns:findModuloByNombre"/>
<output wsam:Action="http://ws.a6.uma.es/WSPV_Translator/findModuloByNombreResponse" message="tns:findModuloByNombreResponse"/>
</operation>
<operation name="createCampanya">
<input wsam:Action="http://ws.a6.uma.es/WSPV_Translator/createCampanya" message="tns:createCampanya"/>
</operation>
<operation name="editCampanya">
<input wsam:Action="http://ws.a6.uma.es/WSPV_Translator/editCampanya" message="tns:editCampanya"/>
</operation>
<operation name="removeCampanya">
<input wsam:Action="http://ws.a6.uma.es/WSPV_Translator/removeCampanya" message="tns:removeCampanya"/>
</operation>
<operation name="findCampanya">
<input wsam:Action="http://ws.a6.uma.es/WSPV_Translator/findCampanyaRequest" message="tns:findCampanya"/>
<output wsam:Action="http://ws.a6.uma.es/WSPV_Translator/findCampanyaResponse" message="tns:findCampanyaResponse"/>
</operation>
<operation name="findAllCampanya">
<input wsam:Action="http://ws.a6.uma.es/WSPV_Translator/findAllCampanyaRequest" message="tns:findAllCampanya"/>
<output wsam:Action="http://ws.a6.uma.es/WSPV_Translator/findAllCampanyaResponse" message="tns:findAllCampanyaResponse"/>
</operation>
<operation name="findAllCampanyaOrderedByName">
<input wsam:Action="http://ws.a6.uma.es/WSPV_Translator/findAllCampanyaOrderedByNameRequest" message="tns:findAllCampanyaOrderedByName"/>
<output wsam:Action="http://ws.a6.uma.es/WSPV_Translator/findAllCampanyaOrderedByNameResponse" message="tns:findAllCampanyaOrderedByNameResponse"/>
</operation>
<operation name="findAllCampanyaOrderedByDateAsc">
<input wsam:Action="http://ws.a6.uma.es/WSPV_Translator/findAllCampanyaOrderedByDateAscRequest" message="tns:findAllCampanyaOrderedByDateAsc"/>
<output wsam:Action="http://ws.a6.uma.es/WSPV_Translator/findAllCampanyaOrderedByDateAscResponse" message="tns:findAllCampanyaOrderedByDateAscResponse"/>
</operation>
<operation name="findAllCampanyaOrderedByDateDesc">
<input wsam:Action="http://ws.a6.uma.es/WSPV_Translator/findAllCampanyaOrderedByDateDescRequest" message="tns:findAllCampanyaOrderedByDateDesc"/>
<output wsam:Action="http://ws.a6.uma.es/WSPV_Translator/findAllCampanyaOrderedByDateDescResponse" message="tns:findAllCampanyaOrderedByDateDescResponse"/>
</operation>
<operation name="findCampanyaByModulo">
<input wsam:Action="http://ws.a6.uma.es/WSPV_Translator/findCampanyaByModuloRequest" message="tns:findCampanyaByModulo"/>
<output wsam:Action="http://ws.a6.uma.es/WSPV_Translator/findCampanyaByModuloResponse" message="tns:findCampanyaByModuloResponse"/>
</operation>
<operation name="createModulo">
<input wsam:Action="http://ws.a6.uma.es/WSPV_Translator/createModulo" message="tns:createModulo"/>
</operation>
<operation name="editModulo">
<input wsam:Action="http://ws.a6.uma.es/WSPV_Translator/editModulo" message="tns:editModulo"/>
</operation>
<operation name="removeModulo">
<input wsam:Action="http://ws.a6.uma.es/WSPV_Translator/removeModulo" message="tns:removeModulo"/>
</operation>
<operation name="findModulo">
<input wsam:Action="http://ws.a6.uma.es/WSPV_Translator/findModuloRequest" message="tns:findModulo"/>
<output wsam:Action="http://ws.a6.uma.es/WSPV_Translator/findModuloResponse" message="tns:findModuloResponse"/>
</operation>
<operation name="findAllModulo">
<input wsam:Action="http://ws.a6.uma.es/WSPV_Translator/findAllModuloRequest" message="tns:findAllModulo"/>
<output wsam:Action="http://ws.a6.uma.es/WSPV_Translator/findAllModuloResponse" message="tns:findAllModuloResponse"/>
</operation>
<operation name="findAllModuloOrderedByName">
<input wsam:Action="http://ws.a6.uma.es/WSPV_Translator/findAllModuloOrderedByNameRequest" message="tns:findAllModuloOrderedByName"/>
<output wsam:Action="http://ws.a6.uma.es/WSPV_Translator/findAllModuloOrderedByNameResponse" message="tns:findAllModuloOrderedByNameResponse"/>
</operation>
<operation name="findAllModuloOrderedByAlpha">
<input wsam:Action="http://ws.a6.uma.es/WSPV_Translator/findAllModuloOrderedByAlphaRequest" message="tns:findAllModuloOrderedByAlpha"/>
<output wsam:Action="http://ws.a6.uma.es/WSPV_Translator/findAllModuloOrderedByAlphaResponse" message="tns:findAllModuloOrderedByAlphaResponse"/>
</operation>
<operation name="findAllModuloOrderedByBeta">
<input wsam:Action="http://ws.a6.uma.es/WSPV_Translator/findAllModuloOrderedByBetaRequest" message="tns:findAllModuloOrderedByBeta"/>
<output wsam:Action="http://ws.a6.uma.es/WSPV_Translator/findAllModuloOrderedByBetaResponse" message="tns:findAllModuloOrderedByBetaResponse"/>
</operation>
<operation name="findAllModuloOrderedByKappa">
<input wsam:Action="http://ws.a6.uma.es/WSPV_Translator/findAllModuloOrderedByKappaRequest" message="tns:findAllModuloOrderedByKappa"/>
<output wsam:Action="http://ws.a6.uma.es/WSPV_Translator/findAllModuloOrderedByKappaResponse" message="tns:findAllModuloOrderedByKappaResponse"/>
</operation>
<operation name="findAllModuloOrderedByGamma">
<input wsam:Action="http://ws.a6.uma.es/WSPV_Translator/findAllModuloOrderedByGammaRequest" message="tns:findAllModuloOrderedByGamma"/>
<output wsam:Action="http://ws.a6.uma.es/WSPV_Translator/findAllModuloOrderedByGammaResponse" message="tns:findAllModuloOrderedByGammaResponse"/>
</operation>
</portType>
<binding name="WSPV_TranslatorPortBinding" type="tns:WSPV_Translator">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="findModuloByCampaña">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findModuloByNombre">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createCampanya">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="editCampanya">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="removeCampanya">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findCampanya">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAllCampanya">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAllCampanyaOrderedByName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAllCampanyaOrderedByDateAsc">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAllCampanyaOrderedByDateDesc">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findCampanyaByModulo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createModulo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="editModulo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="removeModulo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findModulo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAllModulo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAllModuloOrderedByName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAllModuloOrderedByAlpha">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAllModuloOrderedByBeta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAllModuloOrderedByKappa">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAllModuloOrderedByGamma">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WSPV_Translator">
<port name="WSPV_TranslatorPort" binding="tns:WSPV_TranslatorPortBinding">
<soap:address location="http://localhost:8080/WSPV_Translator/WSPV_Translator"/>
</port>
</service>
</definitions>
